*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.Container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.guess--Color{
    margin-top: 2rem;
    width: 40px;
    height: 40px;
    /* background-color: black; */
}

.input--Color input{
    margin-top: 1rem;
}