Money Tracker App/API/node_modules/
Money Tracker App/money-tracker/node_modules/
Age Calculator/.vscode/
ChatGPT Clone/.env
Money Tracker App/API/.env
Money Tracker App/money-tracker/.env
social-media/node_modules/
gitignore/
ToDo MERN Stack/API/node_modules/
ToDo MERN Stack/API/.env
ToDo MERN Stack/task_manager/node_modules/
ToDo MERN Stack/task_manager/.env