Money Tracker App/API/node_modules/
Money Tracker App/money-tracker/node_modules/
Age Calculator/.vscode/
ChatGPT Clone/.env
Money Tracker App/API/.env
Money Tracker App/money-tracker/.env
social-media/node_modules/
gitignore/