@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #dfdddd;
    --dark-gray: #555;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    /* border: none; */
    background-color: var(--background-color);
    /* padding: 1rem; */
    /* display: flex; */
    /* justify-content: center; */
}

.headerContainer {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
}

.logo_icon {
    height: 5.875rem;
    width: 1.938rem;
}

.logo_name {
    font-size: 2rem;
    font-weight: bold;
}

.navigationContainer {
    display: none;
    gap: 1.3rem;
}

@media screen and (min-width:940px) {
    .navigationContainer {
        display: flex;
    }
}


.navi_content {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(84, 80, 80);
    transform: color 0.2s;
}

.navi_content:hover {
    color: var(--accent-color);
}

.ContactContainer {
    display: none;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.7rem 1.5rem;
    transform: color 0.2s;
}

.ContactContainer:hover {
    color: rgb(194, 196, 176);
}

@media screen and (min-width:940px) {
    .ContactContainer {
        display: block;
    }
}

.menuButtonContainer {
    display: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--accent-color);
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width:940px) {
    .menuButtonContainer {
        display: block;
    }
}

.menuIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.mainContent {
    width: 80vw;
    margin: 0 auto;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
}

.leftSection {
    text-align: center;
    animation: slidefromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.labelSection {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--link-color);
}

.headSection {
    font-size: 2.3rem;
    padding: 1rem;
    color: var(--text-color);
}

.discriptionSection {
    font-size: 1.13rem;
    color: rgb(77, 79, 84);
}

.buttonSection {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.startButton,
.tourButton {
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.7rem 1.5rem;
    transform: color 0.2s;
}

.tourButton {
    background-color: #555;
}

.startButton:hover {
    color: #111010;
}

.tourButton:hover {
    color: #111010;
}

.rightSection {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSection {
    border: none;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.imgContainer {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:940px) {
    .mainSection {
        flex-direction: row;
    }

    .leftSection {
        width: 50%;
        text-align: left;
    }

    .labelSection {
        font-size: 1.1rem;
    }

    .headSection {
        padding-left: 0;
    }

    .discriptionSection {
        width: 80%;
    }

    .buttonSection {
        justify-content: start;
        padding-left: 0;
    }

    .imgSection {
        height: 70vh;
    }
}

.componyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.company_grid {
    background-color: var(--gray);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
    border: none;
    border-radius: 1.3rem;
}

.company_logo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    gap: 0.5rem;
}

.svg_img {
    height: 1.56rem;
}

.logo-txt {
    font-size: 1rem;
}

@media screen and (min-width:940px) {
    .company_grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .title {
        font-weight: bold;
        font-size: 2.3rem;
    }
}

.cartContainer {
    background-color: var(--gray);
    text-align: center;
    padding: 2.5rem 0;

}

.cartContent {
    max-width: 60%;
    margin: 0 auto;
    padding: 0 2rem;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainTitle {
    font-size: 2.2rem;
    font-weight: bold;
}

.mainDescription {
    color: #322c2c;
    font-size: 1rem;
}

.gridContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;


}

.cartContaine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a6a996d6;
    gap: 0.8rem;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
}

.iconContainer {
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featurCart {
    height: 1.5rem;
    width: 1.5rem;
}

.featureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

.featureTitle {
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: bold;
}

.featureDescription {
    color: whitesmoke;
}

.cartContaine:nth-child(1) {
    background-color: #4a90e2;
}

.cartContaine:nth-child(2) {
    background-color: #ff6289;
}

.cartContaine:nth-child(3) {
    background-color: #fcbf58;
}

.cartContaine:nth-child(4) {
    background-color: #44bfc3;
}

.cartContaine:nth-child(5) {
    background-color: #77b05d;
}

.cartContaine:nth-child(6) {
    background-color: #7d78b1;
}

@media screen and (max-width:940px) {
    .gridContent {
        grid-template-columns: repeat(1, 1fr);
    }
}

.testContainer {
    margin: 0 auto;
    padding: 2rem;
    max-width: 70%;
}

.testContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.testTitle {
    font-size: 2rem;
    font-weight: bold;
}

.testGrid {
    display: flex;
    gap: 2rem;
    /* margin-top: 2rem; */
}

.testCart {
    border: 1px solid rgb(171, 163, 163);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testCart:hover {
    transform: scale(1.05);
    ;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.testDescription {
    text-align: center;
    color: #555;
    font-size: 0.85rem;
}

.testImgContainer img {
    height: 5rem;
    width: 5rem;
}

.testDetail {
    text-align: center;
}

.testDetailTitle {
    color: var(--primary-color);
    font-size: 1rem;
}

.testDetaildes {
    color: #555;
    font-size: 0.85rem;
}

@media screen and (max-width:940px) {
    .testGrid {
        flex-direction: column;
    }
}

.newsContainer {
    max-width: 70%;
    margin: 0 auto;
    height: 40vh;
    background-color: var(--background-color);
}

.newsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.newsImgContainer {
    height: 100%;
    width: 50%;
}

@media screen and (max-width:940px) {
    .newsImgContainer {
        display: none;
    }

}

.newsImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.newsdescContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    /* width: 95%; */
    gap: 1rem;
}

.newsheader h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.newsheader p {
    font-size: 1rem;
    color: var(--text-color);
}

.newsformContent {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.news_email {
    background-color: var(--background-color);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    outline: none;
}

.news_email:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}

.news_button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.news_button:hover {
    background-color: var(--link-color);
}

.newsfooterContent {
    font-size: 0.8rem;
    color: #777;
}

.news-link {
    text-decoration: underline;
    color: #2563eb;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    text-align: left;
    max-width: 100%;
    padding: 1.2rem 2.4rem;
    padding-right: 2rem;
}

.footerTop {
    display: flex;
    gap: 2rem;
    width: 35%;
    flex-direction: column;
}

.logo-svg {
    width: 2rem;
    height: 6rem;
}

.comp-logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}

.social-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.filler-text {
    font-size: 1rem;
    color: #777;
}

.social {
    display: flex;
    gap: 0.8rem;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading {
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

.footer-link {
    color: #777;
    font-size: 0.875rem;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-grid-heading {
    margin-bottom: 1.65rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footercontent {
        flex-direction: column;
        align-items: center;
    }

    .footer-top {
        padding-left: 10rem;
    }

    .footerGrid {
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:940px) {
    .footer-top {
        padding-left: 1rem;
    }

    .footerGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}